<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/datos" method="POST">
        <label for="">Nombre</label>
        <input type="text" name="nombre" id="">
        <label for="">Apellido</label>
        <input type="text" name="apellido" id="">
        <label for="">Edad</label>
        <input type="number" name="edad" id="">
        <input type="submit" value="enviar">
    </form>
    <table>
        <th>
            <tr>Nombre</tr>
            <tr>Edad</tr>
        </th>
        <% lista.forEach(e => { %>
            <tr>
                <td><%= e.nombre %></td>
                <td><%= e.apellido %></td>

            </tr>
        <%})%>
    </table>
    <ul>
        
    </ul>

</body>
</html>