html 
    head 
        title "Mi primer plantilla con pug"
        style
            include style.css
    body 
        h1=mensaje
        h2(style="color:red") Hola
        div(style="display:inline-block")
            div
                span=min
                span(style="float:right")=max
            div(class="barra")
                div(class="indicador" style=`width:${nivel}%`)
