<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <% if(status){%>
    <h1><%=msg%></h1>
    <% } else{ %>
    <h1>No hay</h1>
    <% } %>
    <ul>
        <% lista.forEach(e => { %>
            <li><%= e.name %></li>
        <% })%>
    </ul>
    
    <%- include("./partials/barra",{saludo:"holaaaaa"} ) %>
</body>
</html>