<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>
    <title>Document</title>
</head>
<body>

    <script type="text/html" id="my_template">
        <ul>
            <% items.forEach(e=> { %>
                <li><%= e.value %> y su id es <%= e.id %></li>
            <% }) %>
        </ul>
    </script>
    <h1>tutorial socket io</h1>
    <label for="">Tu</label>
    <input type="text" name="" id="mensaje">
   <!--  <button>Enviar</button> -->

   <div id="my_render"></div>



   <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.6/ejs.min.js"></script>
</body>
</html>